@charset "UTF-8";


h1 {
	font-size: 28px;
	font-weight: 700;
}

h5 {
	font-size: 14px;
	color: #777;
	margin-bottom: 20px;
}

.review {
	width: 100%;
	display: flex;
	align-items: center;
	background-color: #fff;
	padding: 20px 60px;
	margin-bottom: 20px;
	border-radius: .25rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-content {
	flex: 1;
}

.review-title {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	display: flex;
	align-items: center;
}

.review-title span {
	color: gold;
	margin-right: 10px;
}

.review-details {
	font-size: 14px;
	color: #555;
	margin-top: 5px;
}

.review-details p {
	margin: 5px 0;
}

.review-user {
	display: flex;
	align-items: center;
	font-size: 14px;
	margin-top: 10px;
}

.review-user img {
	width: 30px;
	height: 30px;
	border-radius: .25rem;
	margin-right: 8px;
}

.buttons {
	margin-top: 10px;
	display: flex;
	gap: 10px;
}

.buttons a, button {
	height: 30px;
	border: none;
	border-radius: .25rem;
	font-size: 14px;
	cursor: pointer;
}

.buttons a {
	padding: 5px 15px;
	background-color: #f0f0f0;
	color: #333;
	text-decoration: none;
}

.deleteBtn {
	padding: 5px 15px;
	background-color: #333;
	color: #fff;
}


/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */


.pageNav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pageNav .btn {
    background-color: #f8f9fa; /* 버튼 기본 배경색 */
    border: 1px solid #ddd;
    color: #333; /* 기본 아이콘 색상 */
    padding: 10px 15px;
    border-radius: 4px;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 18px; /* 아이콘 크기 */
    font-weight: bold; /* 아이콘을 두껍게 */
    display: flex;
    align-items: center;
}

.pageNav .btn:hover {
    background-color: #333; /* 호버 시 버튼 배경을 어두운 색으로 */
    color: #fff; /* 호버 시 아이콘을 흰색으로 */
}