@charset "UTF-8";

.qnaInfo {
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
    justify-content: flex-start;
}

.title-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: flex-start;
}

.title-box {
    flex-grow: 1;
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 18px;
}

.content-box {
    display: flex;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 18px;
    margin-top: 10px;
}

.btnBox {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
}

.registerBtn, .deleteBtn {
	color: #FFFFFF;
	background-color: #333333;
    margin: 0 0 0 16px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: .25rem;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
}

.cancelBtn {
	color: #000000;
	background-color: #EEEEEE;
    margin: 0 0 0 16px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: .25rem;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
}
